.detailsContainer {
    max-width: 1500px;
    width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url('https://png.pngtree.com/background/20210716/original/pngtree-cute-dog-tiled-background-blue-bones-picture-image_1349649.jpg'); */
    background: #fe8c00; 
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe8c00); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    /* filter: brightness(0.8); */
}

.card {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    width: 1200px;
    max-width: 100%;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.card:hover {
    transform: scale(1.05);
    color: white;
    background-color: black;
    box-shadow:  
    0 0 5px #008cff,
    0 0 10px #008cff,
    0 0 10px #008cff,
    0 0 50px #008cff;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-left: 10px;
    width: 600px;
    max-width: 100%;
}


.imageContainer {
    flex: 1;
    padding: 10px;
}


.breedImage {
    width: 80%;
    /* height: 80%; */
    height: 300px;
    padding-top: 12%;
}


.content h1 {
    font-size: 2.3rem;
    font-weight: bold;
    padding-bottom: 5px;
    font-family: 'Ubuntu', 'Roboto Condensed';
    text-decoration: underline;
}

.labelInfo {
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    font-family: 'Roboto Condensed', cursive;
}

.content h2 {
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
    font-family: 'Roboto Condensed', cursive;
}

.loader {
    width: 80%;
    height: 80%;
    z-index: 0;
}