.container {
  position: relative;
  max-width: 1500px;
  margin: auto;
  padding: 2px;
  height: 100vh;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://images.alphacoders.com/130/1307447.jpg);
  /* background-image: url(https://images.pexels.com/photos/37860/border-collie-jump-water-british-sheepdog-37860.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}


.welcomeContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  z-index: 1;
  position: relative;
}

.LandingInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.customLink {
  text-decoration: none;
  color: inherit; 
}

 .welcome {
  /* font-size: 2rem; */
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', cursive;
  transition: font-size 0.3s, color 0.3s, text-shadow 0.3s;
  color: aliceblue;
}

.welcome::before {
  content: ''; /* Contenido vacío */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Coloca el seudo-elemento detrás del título */
}

 .welcome:hover {
  font-family: 'Alfa slab one', 'Roboto Condensed';
  cursor: pointer;
  font-size: 3em;
  /* color: #0084ff; */
  /* color: #DC281E; */
  color: #2948ff; 

  text-shadow:
  0 0 20px #FFFFFF,
  0 0 20px #FFFFFF,
  0 0 20px #FFFFFF;
}

.iconContainer {
  display: flex;
  position: relative;
  margin-bottom: 200px;
  align-items: center;
  justify-content: center;
}

.iconLink {
  text-decoration: none;
  color: #333; /* Cambia el color según tus preferencias */
  margin: 0 35px;
  padding-right: 65px;
  font-size: 24px;
  align-items: center;
}

.iconG {
  position: fixed;
  color: rgb(218, 206, 206);
  font-size: 3.5rem;
  transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.iconL {
  position: fixed;
  color: rgb(218, 206, 206);
  font-size: 3.5rem;
  transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.iconG:hover {
  background-color: black;
  cursor: pointer;
  font-size: 4rem;
  color: white;
}

.iconL:hover {
  background-color: rgb(7, 7, 155);
  cursor: pointer;
  font-size: 4rem;
  color: white;
}